@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:  'Alfa Slab One', cursive;
}
body{
  background: #f2f2f2;
}
nav{
  background: #0005;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: greenyellow;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  color: white;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
 
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: grey;
  border-radius: 5px;
  box-shadow: 5px 10px #888888
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
nav .logo{
    float: left;
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
  }
  span{
      color: white;
      font-family: 'Alfa Slab One', cursive;
  }
  span:hover{
    color:#F0c330;
    transition: 0.5s;
  }

.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}
.hero{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(back1.jpg);
  background-position: center;
  background-size: hidden;
  position: relative;

}
.banner-title{
  margin: 120px 340px;
  color: grey;
  font-size: 30px;
}
.banner-title:hover{
  color:darkgrey;
}
.footer-line{
  background-color:black;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  font-family:'Alfa Slab One', cursive;
  text-align: center;
  

}
.footer-line p{
  font-size: 20px;
  color: green;
}
.footer-line ul{
  padding-top: 5px;
  color: white;
}
.footer-line ul li{
  padding-top: 5px;
  color: white;
}
@media all and (max-width: 808px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: 5px 10px #888888;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: grabbing;
  }
  .show:hover{
    color: purple;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: grabbing;
    font-size: 25px;

  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
  .banner-title{
    margin: 100px 50px;
    font-size: 15px;
    margin: 60px 120px;
  }
  .footer-line{
    font-size: 10px;
    padding: 10px;
  }
  .hero{
    height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(back1.jpg);
  background-position: center;
  background-size: hidden;
  background-attachment: fixed;
  position: relative;
  }
  .footer-line p{
    font-size: 10px;
    color: green;
  }
  .footer-line ul{
    padding-top: 2px;
    color: white;
  }
  .footer-line ul li{
    padding-top: 2px;
    color: white;
  }

}
